body{
    margin: 0px;
    background-color: azure;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11%;
}

.div1{
    text-align: center;
    border-radius: 3vw;
    border-color: black, 10px;
    background-color: burlywood;
    padding: 4vw;
    border: 2px solid black; 
}

